<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YGFHLS-M3U8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71DBFCEB1C7FE19A002C371F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DBFD041C7FE19A002C371F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DBFD0F1C7FE19A002C371F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
